@{
  Layout = "_Layout";
  ViewData["Title"] = "筛选";
}

<form class="layui-form form-select" action="">
  <div class="layui-form-item">
    <label class="layui-form-label">视频ID</label>
    <div class="layui-input-block">
      <input type="text" name="Vid" lay-verify="Vid" autocomplete="off" placeholder="请输入视频ID" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">日期</label>
      <div class="layui-input-inline" style="width: 200px;">
        <input type="text" name="date_star" id="date_star" lay-verify="date_star" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
      </div>
      <div class="layui-form-mid">-</div>
      <div class="layui-input-inline" style="width: 200px;">
        <input type="text" name="date_end" id="date_end" lay-verify="date_end" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
      </div>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">弹幕类型</label>
    <div class="layui-input-block">
      <select name="Type" lay-filter="Type">
        <option value=""></option>
        <option value="0">滚动弹幕</option>
        <option value="1">顶部弹幕</option>
        <option value="2">底部弹幕</option>
        <option value="3" selected=""></option>
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">IP</label>
    <div class="layui-input-block">
      <input type="text" name="Ip" lay-verify="Ip" autocomplete="off" placeholder="请输入评论者IP" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">关键词</label>
    <div class="layui-input-block">
      <input type="text" name="Text" lay-verify="Text" autocomplete="off" placeholder="请输入评论关键词" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">排序</label>
    <div class="layui-input-block">
      <select name="Order" lay-filter="Order">
        <option value=""></option>
        <option value="0" selected="">倒序</option>
        <option value="1">正序</option>
      </select>
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="form1">查询</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>


<script>
  layui.use(['form', 'laydate'],
    function() {
      var form = layui.form, layer = layui.layer, laydate = layui.laydate;

      laydate.render({
        elem: '#date_star'
      });
      laydate.render({
        elem: '#date_end'
      });

      form.verify({
        Vid: function(value) {
          if (value.length < 1) {
            value = "";
          }
        }
      });

      form.on('submit(form1)',
        function(data) {

        });
    });
</script>