language: node_js

sudo: required

dist: xenial

node_js:
  - "lts/*"

branches:
  only:
    - master

cache:
  directories:
    - node_modules
    - themes/hexo-theme-doc/node_modules

before_install:
  - export TZ='Asia/Shanghai'

install:
  - npm install --pure-lockfile
  - cd ./themes/hexo-theme-doc
  - npm install --pure-lockfile
  - cd ../../

script:
  - hexo g

deploy:
  provider: pages
  skip_cleanup: true
  local_dir: public
  committer-from-gh: true
  name: $U_NAME
  email: $U_EMAIL
  github_token: $GH_TOKEN  
  keep-history: true
  target-branch: $P_BRANCH
  on:
    branch: master
