@page
@model Danmu.Pages.Login.LoginModel
@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
  <base href="~/"/>
  <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
  <link href="css/site.css" rel="stylesheet"/>
  <link rel="icon" href="favicon.png"/>
  <style>
    .form-bg { background: #00b4ef; }

    .form-horizontal {
      background: #fff;
      border-radius: 15px;
      padding-bottom: 40px;
      text-align: center;
    }

    .form-horizontal .heading {
      border-bottom: 1px solid #f0f0f0;
      display: block;
      font-size: 35px;
      font-weight: 700;
      margin-bottom: 30px;
      padding: 35px 0;
    }

    .form-horizontal .form-group {
      margin: 0 0 25px 0;
      padding: 0 40px;
      position: relative;
    }

    .form-horizontal .form-control {
      background: #f0f0f0;
      border: none;
      border-radius: 20px;
      box-shadow: none;
      height: 40px;
      padding: 0 20px 0 45px;
      transition: all 0.3s ease 0s;
    }

    .form-horizontal .form-control:focus {
      background: #e0e0e0;
      box-shadow: none;
      outline: 0 none;
    }

    .form-horizontal .form-group i {
      color: #c8c8c8;
      font-size: 17px;
      left: 60px;
      position: absolute;
      top: 12px;
      transition: all 0.5s ease 0s;
    }

    .form-horizontal .form-control:focus + i { color: #00b4ef; }

    .form-horizontal .fa-question-circle {
      color: #808080;
      display: inline-block;
      font-size: 20px;
      position: absolute;
      right: 60px;
      top: 12px;
      transition: all 0.5s ease 0s;
    }

    .form-horizontal .fa-question-circle:hover { color: #000; }

    .form-horizontal .main-checkbox {
      background: #11a3fc;
      border: 1px solid #11a3fc;
      border-radius: 50%;
      float: left;
      height: 20px;
      margin: 5px 0 0 5px;
      position: relative;
      width: 20px;
    }

    .form-horizontal .main-checkbox label {
      cursor: pointer;
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      width: 20px;
    }

    .form-horizontal .main-checkbox label:after {
      -webkit-transform: rotate(-45deg);
      background: transparent;
      border: 3px solid #fff;
      border-right: none;
      border-top: none;
      content: "";
      height: 5px;
      left: 4px;
      opacity: 0;
      position: absolute;
      top: 5px;
      transform: rotate(-45deg);
      width: 10px;
    }

    .form-horizontal .main-checkbox input[type=checkbox] { visibility: hidden; }

    .form-horizontal .main-checkbox input[type=checkbox]:checked + label:after { opacity: 1; }

    .form-horizontal .text {
      float: left;
      line-height: 20px;
      margin-left: 7px;
      padding-top: 5px;
      text-transform: capitalize;
    }

    .form-horizontal .btn {
      background: #00b4ef;
      border: none;
      border-radius: 30px;
      color: #fff;
      float: right;
      font-size: 14px;
      padding: 10px 25px;
      text-transform: capitalize;
      transition: all 0.5s ease 0s;
    }

    @@media only screen and (max-width: 479px) {
      .form-horizontal .form-group { padding: 0 25px; }
      .form-horizontal .form-group i { left: 45px; }
      .form-horizontal .btn { padding: 10px 20px; }
    }
  </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <form class="form-horizontal">
        <span class="heading">用户登录</span>
        <div class="form-group">
          <input type="email" class="form-control" id="inputEmail3" placeholder="用户名或电子邮件">
          <i class="fa fa-user"></i>
        </div>
        <div class="form-group help">
          <input type="password" class="form-control" id="inputPassword3" placeholder="密　码">
          <i class="fa fa-lock"></i>
          <a href="#" class="fa fa-question-circle"></a>
        </div>
        <div class="form-group">
          <div class="main-checkbox">
            <input type="checkbox" value="None" id="checkbox1" name="check"/>
            <label for="checkbox1"></label>
          </div>
          <span class="text">Remember me</span>
          <button type="submit" class="btn btn-default">登录</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
