/* 登录页 */
.layout-body {
    position: absolute;
    top: 150px;
    right: 10%;
}

.landing-body-login {
    max-width: 400px;
    width: 96%;
    background-color: #fff;
    margin-right: 50px;
    margin-top: 40px;
    float: right;
}

.form-edit {
    position: absolute;
    top: 20px;
    right: 50px;
}


/* 筛选页 */
.form-select .layui-form-item {
    display: inline-block
}