@{
    Layout = "_Layout";
    ViewData["Title"] = "主页";
}

<h2>欢迎来到Danmaku主页</h2>

<p>
    <i class="layui-icon layui-icon-rate-solid" style="font-size: 30px; color: #1E9FFF;"></i>  详细文档请看：<a href="https://doc.video.xwhite.studio/danmaku/index.html">https://doc.video.xwhite.studio</a>
</p>

<p>
    <a href="/account/login">登录</a>
</p>

<p>
    <a href="account/logout">注销</a>
</p>

<p>
    <a href="dplayer/danmakulist">管理</a>
</p>

