<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link rel="stylesheet" href="/css/site.css"/>
    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <script async src="/layui/layui.js"></script>
    <script async src="/js/site.js"></script>
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
</html>
