<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width"/>
  <title>@ViewBag.Title</title>

  <link rel="stylesheet" href="/css/site.css"/>
  <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
  <script src="/layui/layui.js"></script>
  <script src="/js/site.js"></script>
</head>
<body>
<div>
  @RenderBody()
</div>
</body>
</html>