@page "/admin"
@using Microsoft.AspNetCore.Authorization
@using static Utils.Global.VariableDictionary;
@attribute [Authorize(Policy = AdminRolePolicy)]
@namespace Danmu.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Danmu</title>
  <base href="~/"/>
  <link href="css/site.css" rel="stylesheet" />
  <link rel="stylesheet" href="/_content/Blazui.Component/css/index.css" />
  <link rel="stylesheet" href="/_content/Blazui.Component/css/fix.css" />
  <link rel="icon" href="favicon.png"/>
</head>
<body>
  <app>
    @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
  </app>

<div id="blazor-error-ui">
  <environment include="Staging,Production">
    An error has occurred. This application may no longer respond until reloaded.
  </environment>
  <environment include="Development">
    An unhandled exception has occurred. See browser dev tools for details.
  </environment>
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>

<script src="_content/Blazui.Component/js/dom.js"></script>
<script src="_framework/blazor.server.js"></script>
</body>
</html>
