@page "/counter"
@using static Utils.Global.VariableDictionary;

<AuthorizeView Policy="@AdminRolePolicy">
  <Authorized>
    <h1>Counter</h1>
    <p>Current count: @currentCount</p>
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
  </Authorized>
  <NotAuthorized>
    <h1>没有权限</h1>
    <p>您没有权限访问此页，如果您有可以访问此页的账户，请重新<a href="/account/login">登录</a></p>
  </NotAuthorized>
</AuthorizeView>

@code {
  [CascadingParameter]
  private Task<AuthenticationState> authenticationStateTask { get; set; }

  private int currentCount;

  private void IncrementCount()
  {
    currentCount++;
  }

}
