@inherits LayoutComponentBase


<BPopup></BPopup>

<BLayout>
  <West>
    <BCard Shadow="@ShadowShowType.Never">
      <Header>
        弹幕服务器
      </Header>
      <Body>
      <NavMenu/>
      </Body>
    </BCard>
  </West>
  <Center>
    <BTab Type="@TabType.Card">
      <div class="main">
        @Body
      </div>
    </BTab>
  </Center>
</BLayout>
