<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
  <BMenu Mode="@MenuMode.Vertical" DefaultActive="0">
    <BMenuItem Route="/admin"><span class="oi oi-home" aria-hidden="true"></span> 概览</BMenuItem>
    <BMenuItem Route="/admin/danmulist"><span class="oi oi-list" aria-hidden="true"></span> 弹幕管理</BMenuItem>
    <BMenuItem Route="/admin/user"><span class="oi oi-plus" aria-hidden="true"></span> 用户管理</BMenuItem>
  </BMenu>
</div>

@code {
  private bool _collapseNavMenu = true;

  private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

  private void ToggleNavMenu()
  {
    _collapseNavMenu = !_collapseNavMenu;
  }

}
