<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">弹幕服务器</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
      <li class="nav-item px-3">
        <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
          <span class="oi oi-home" aria-hidden="true"></span> 概览
        </NavLink>
      </li>
      <li class="nav-item px-3">
        <NavLink class="nav-link" href="/admin/danmulist">
          <span class="oi oi-list" aria-hidden="true"></span> 弹幕管理
        </NavLink>
      </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/user">
                <span class="oi oi-plus" aria-hidden="true"></span> 用户管理
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
